.DS_Store
example.tf
terraform.tfplan
terraform.tfstate*
./*.tfstate
.terraform/
*.test
vendor
dist/
coverage.txt
mise.local.toml

# This binary appears when the user runs "go build".
# It should not typically be built. "go install" is recommended instead.
terraform-provider-jenkins
