name: Unit Tests

on: [ push ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - run: go mod download
    - run: go vet ./...

    - name: Test
      run: go test -race -covermode=atomic -coverprofile=coverage.txt ./...

    - name: Send coverage to Codecov
      run: bash <(curl -s https://codecov.io/bash) -Z -f coverage.txt
